*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;

}





.container{
background-color: white;
width: 330px;
height: 170px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
border-radius: 15px;

}

button{
    background-color:rgb(67, 153, 238) ;
    border: none;
    padding: 11px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}


button:hover{
    background-color: rgb(17, 80, 143);
}
.dark-mode{
    background-color: black;
    color: rgb(12, 11, 11);
}
.dark-mode button{
    background-color: aliceblue;
    color: black;

}
.dark-mode button:hover{
    background-color: #ddd;
}